@ac-blue-100: #CDD0E7;
@ac-blue-200: #9FA5D1;
@ac-blue-300: #6F77B9;
@ac-blue-400: #414CA3;
@ac-blue-500: #2738B5;
@ac-blue-600: #17298E;
@ac-blue-700: #081D57;
@ac-blue-800: #05133A;
@ac-blue-900: #030A1D;

@ac-gray-20: #F8F8FB;
@ac-gray-50: #F2F3F5;
@ac-gray-100: #ECEDF0;
@ac-gray-150: #DDDEE2;
@ac-gray-200: #C0C1C6;
@ac-gray-300: #A2A5AA;
@ac-gray-400: #85888E;
@ac-gray-500: #676B72;
@ac-gray-600: #535862;
@ac-gray-700: #3E444F;
@ac-gray-800: #1D2534;
@ac-gray-900: #11151D;

@ac-red-600: #D21111;

@color-primary: @ac-blue-500;
@color-dark-gray: @ac-gray-800;
@color-disable: @ac-gray-200;
.color-failed { color: @ac-red-600 !important; }
