// out: common.CSS

@import url('wantone.less');

* {
	box-sizing: border-box;
}

body {
	font-family: "Titillium Web";
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.title-wrap {
	margin: 24px;
}

.title {
	color: #122032;
}

.share {
	margin: 36px 0 0 0;
	padding: 0;

	li {
		display: inline-block;
		list-style: none;
	}
}

.chips {
	width: 100%;
	padding: 24px;
	background-color: #f5f5f5;
}

.description {
	color: @gray-510;
	margin: 86px 0 0 0;

	a {
		color: @blue-410;
		text-decoration: none;
	}

	a:hover {
		color: @red-810;
	}
}

.color-tone {
	min-width: 1600px;
	margin: 24px 0 48px 0;
	vertical-align: top;

	.color-block {
		display: inline-block;
		vertical-align: top;
	}

	.color-chip {
		width: 150px;
		height: 180px;
		margin-right: 16px;
		margin-bottom: 24px;
		background-color: #fff;
		-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.05);
  	   -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.05);
			    	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.05);

		.color-box-main {
			width: 150px;
			height: 150px;
			padding: 16px;
		}

		.color-box-sub {
			display: inline-block;
			float: left;
			width: 30px;
			height: 30px;
			padding: 0;
		}

		.step-100 { opacity: 1; }
		.step-070 { opacity: 0.7; }
		.step-050 { opacity: 0.5; }
		.step-030 { opacity: 0.3; }
		.step-000 { opacity: 0; }
	}

	.color-chip + .empty {
		display: inline-block;
		width: 150px;
		height: 180px;
		border: 1px solid #efefef;
	}
}

.footer {
	padding: 24px 24px 68px 24px;
	font-size: 9px;
	border-top: 1px solid #efefef;
}
