@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
.gray-110 {
  color: #fff;
  background-color: #141311;
}
.gray-310 {
  color: #fff;
  background-color: #2E3030;
}
.gray-510 {
  color: #fff;
  background-color: #3D3F3F;
}
.gray-520 {
  color: #fff;
  background-color: #434036;
}
.gray-710 {
  color: #fff;
  background-color: #818281;
}
.gray-720 {
  color: #fff;
  background-color: #76776F;
}
.gray-810 {
  color: #fff;
  background-color: #BAA99F;
}
.gray-820 {
  background-color: #DAD3C7;
}
.blue-210 {
  color: #fff;
  background-color: #122032;
}
.blue-410 {
  color: #fff;
  background-color: #02275B;
}
.blue-510 {
  color: #fff;
  background-color: #00348C;
}
.blue-610 {
  color: #fff;
  background-color: #006BAE;
}
.blue-620 {
  color: #fff;
  background-color: #017C7C;
}
.blue-630 {
  color: #fff;
  background-color: #4E6278;
}
.blue-710 {
  color: #fff;
  background-color: #3C75AA;
}
.blue-720 {
  color: #fff;
  background-color: #148BA8;
}
.blue-730 {
  color: #fff;
  background-color: #1095B6;
}
.blue-740 {
  color: #fff;
  background-color: #4186A2;
}
.blue-810 {
  color: #fff;
  background-color: #69A1D2;
}
.blue-910 {
  color: #fff;
  background-color: #B3D9CD;
}
.red-310 {
  color: #fff;
  background-color: #970F15;
}
.red-410 {
  color: #fff;
  background-color: #B11717;
}
.red-510 {
  color: #fff;
  background-color: #D24F08;
}
.red-610 {
  color: #fff;
  background-color: #F52711;
}
.red-710 {
  color: #fff;
  background-color: #ED5F16;
}
.red-720 {
  color: #fff;
  background-color: #EC7D17;
}
.red-810 {
  color: #fff;
  background-color: #FAA20E;
}
.red-820 {
  color: #fff;
  background-color: #EBBB1E;
}
.red-830 {
  color: #fff;
  background-color: #D2B20A;
}
.red-910 {
  color: #fff;
  background-color: #EDCC71;
}
.red-920 {
  color: #fff;
  background-color: #EFD765;
}
.purple-210 {
  color: #fff;
  background-color: #301554;
}
.purple-310 {
  color: #fff;
  background-color: #580B53;
}
.purple-410 {
  color: #fff;
  background-color: #362D77;
}
.purple-420 {
  color: #fff;
  background-color: #A3154C;
}
.purple-430 {
  color: #fff;
  background-color: #7F1A5D;
}
.purple-510 {
  color: #fff;
  background-color: #884994;
}
.purple-520 {
  color: #fff;
  background-color: #41418E;
}
.purple-610 {
  color: #fff;
  background-color: #C53878;
}
.purple-710 {
  color: #fff;
  background-color: #9F81B7;
}
.purple-720 {
  color: #fff;
  background-color: #DE82B4;
}
.purple-810 {
  color: #fff;
  background-color: #D694A8;
}
.green-210 {
  color: #fff;
  background-color: #173024;
}
.green-410 {
  color: #fff;
  background-color: #0E5F27;
}
.green-510 {
  color: #fff;
  background-color: #066C33;
}
.green-520 {
  color: #fff;
  background-color: #696A3B;
}
.green-610 {
  color: #fff;
  background-color: #52765C;
}
.green-620 {
  color: #fff;
  background-color: #1D9343;
}
.green-710 {
  color: #fff;
  background-color: #32B618;
}
.green-720 {
  color: #fff;
  background-color: #8DAB28;
}
.green-810 {
  color: #fff;
  background-color: #08D34A;
}
.green-820 {
  color: #fff;
  background-color: #C7E500;
}
.green-830 {
  color: #fff;
  background-color: #08D34A;
}
.green-910 {
  color: #fff;
  background-color: #C2E17C;
}
.brown-210 {
  color: #fff;
  background-color: #3F2417;
}
.brown-220 {
  color: #fff;
  background-color: #452318;
}
.brown-310 {
  color: #fff;
  background-color: #581817;
}
.brown-510 {
  color: #fff;
  background-color: #903F1D;
}
.brown-520 {
  color: #fff;
  background-color: #725F42;
}
.brown-610 {
  color: #fff;
  background-color: #685C52;
}
.brown-620 {
  color: #fff;
  background-color: #9D5D33;
}
.brown-630 {
  color: #fff;
  background-color: #80514B;
}
.brown-710 {
  color: #fff;
  background-color: #C47144;
}
.brown-810 {
  color: #fff;
  background-color: #BDA46D;
}
.brown-820 {
  color: #fff;
  background-color: #E9B66F;
}
.brown-830 {
  color: #fff;
  background-color: #DFAB85;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Titillium Web";
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.title-wrap {
  margin: 24px;
}
.title {
  color: #122032;
}
.share {
  margin: 16px 0 36px 0;
  padding: 0;
}
.share li {
  display: inline-block;
  list-style: none;
}
.chips {
  width: 100%;
  padding: 4px 24px 24px 24px;
  background-color: #f5f5f5;
}
.description {
  color: #3D3F3F;
  margin: 86px 0 0 0;
}
.description a {
  color: #02275B;
  text-decoration: none;
}
.description a:hover {
  color: #FAA20E;
}
.color-tone {
  width: 100%;
  margin: 24px 0 48px 0;
  vertical-align: top;
  transform: translateZ(0);
  position: relative;
  z-index: 10;
}
.color-tone .color-block {
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.color-tone .color-chip {
  width: 150px;
  height: 180px;
  margin-right: 16px;
  margin-bottom: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  border: 0;
}
.color-tone .color-chip .color-name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}
.color-tone .color-chip .color-box-main {
  width: 150px;
  height: 150px;
  padding: 16px;
}
.color-tone .color-chip .color-box-sub {
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  padding: 0;
}
.color-tone .color-chip .step-100 {
  opacity: 1;
}
.color-tone .color-chip .step-070 {
  opacity: 0.7;
}
.color-tone .color-chip .step-050 {
  opacity: 0.5;
}
.color-tone .color-chip .step-030 {
  opacity: 0.3;
}
.color-tone .color-chip .step-000 {
  opacity: 0;
}
.color-tone .color-block:hover {
  -ms-transform: scale(1.12);
  /* IE 9 */
  -webkit-transform: scale(1.12);
  /* Safari 3-8 */
  transform: scale(1.12);
  z-index: 999;
}
.color-tone .color-chip + .empty {
  display: inline-block;
  width: 150px;
  height: 180px;
  border: 1px solid #efefef;
}
.footer {
  padding: 24px 24px 68px 24px;
  font-size: 12px;
  border-top: 1px solid #efefef;
}
.footer .thanksto {
  color: #9f9f9f;
}
