@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
.gray-110 {
  color: #fff;
  background-color: #141311;
}
.gray-310 {
  color: #fff;
  background-color: #2E3030;
}
.gray-510 {
  color: #fff;
  background-color: #3D3F3F;
}
.gray-520 {
  color: #fff;
  background-color: #434036;
}
.gray-710 {
  color: #fff;
  background-color: #818281;
}
.gray-720 {
  color: #fff;
  background-color: #76776F;
}
.gray-810 {
  color: #fff;
  background-color: #BAA99F;
}
.gray-820 {
  background-color: #DAD3C7;
}
.blue-210 {
  color: #fff;
  background-color: #122032;
}
.blue-410 {
  color: #fff;
  background-color: #02275B;
}
.blue-510 {
  color: #fff;
  background-color: #00348C;
}
.blue-610 {
  color: #fff;
  background-color: #006BAE;
}
.blue-620 {
  color: #fff;
  background-color: #017C7C;
}
.blue-630 {
  color: #fff;
  background-color: #4E6278;
}
.blue-710 {
  color: #fff;
  background-color: #3C75AA;
}
.blue-720 {
  color: #fff;
  background-color: #148BA8;
}
.blue-730 {
  color: #fff;
  background-color: #1095B6;
}
.blue-740 {
  color: #fff;
  background-color: #4186A2;
}
.blue-810 {
  color: #fff;
  background-color: #69A1D2;
}
.blue-910 {
  color: #fff;
  background-color: #B3D9CD;
}
.red-310 {
  color: #fff;
  background-color: #970F15;
}
.red-410 {
  color: #fff;
  background-color: #B11717;
}
.red-510 {
  color: #fff;
  background-color: #D24F08;
}
.red-610 {
  color: #fff;
  background-color: #F52711;
}
.red-710 {
  color: #fff;
  background-color: #ED5F16;
}
.red-720 {
  color: #fff;
  background-color: #EC7D17;
}
.red-810 {
  color: #fff;
  background-color: #FAA20E;
}
.red-820 {
  color: #fff;
  background-color: #EBBB1E;
}
.red-830 {
  color: #fff;
  background-color: #D2B20A;
}
.red-910 {
  color: #fff;
  background-color: #EDCC71;
}
.red-920 {
  color: #fff;
  background-color: #EFD765;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Titillium Web";
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.title-wrap {
  margin: 24px;
}
.title {
  color: #122032;
}
.share {
  margin: 16px 0 36px 0;
  padding: 0;
}
.share li {
  display: inline-block;
  list-style: none;
}
.chips {
  width: 100%;
  padding: 4px 24px 24px 24px;
  background-color: #f5f5f5;
}
.description {
  color: #3D3F3F;
  margin: 86px 0 0 0;
}
.description a {
  color: #02275B;
  text-decoration: none;
}
.description a:hover {
  color: #FAA20E;
}
.color-tone {
  width: 100%;
  margin: 24px 0 48px 0;
  vertical-align: top;
  overflow-y: auto;
}
.color-tone .color-block {
  display: inline-block;
  vertical-align: top;
}
.color-tone .color-chip {
  width: 150px;
  height: 180px;
  margin-right: 16px;
  margin-bottom: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
.color-tone .color-chip .color-name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}
.color-tone .color-chip .color-box-main {
  width: 150px;
  height: 150px;
  padding: 16px;
}
.color-tone .color-chip .color-box-sub {
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  padding: 0;
}
.color-tone .color-chip .step-100 {
  opacity: 1;
}
.color-tone .color-chip .step-070 {
  opacity: 0.7;
}
.color-tone .color-chip .step-050 {
  opacity: 0.5;
}
.color-tone .color-chip .step-030 {
  opacity: 0.3;
}
.color-tone .color-chip .step-000 {
  opacity: 0;
}
.color-tone .color-chip + .empty {
  display: inline-block;
  width: 150px;
  height: 180px;
  border: 1px solid #efefef;
}
.footer {
  padding: 24px 24px 68px 24px;
  font-size: 12px;
  border-top: 1px solid #efefef;
}
.footer .thanksto {
  color: #9f9f9f;
}
