@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
.icon-small-parking {
  background-image: url(../images/icon_crewshop_small_parking.png);
}
.icon-small-car {
  background-image: url(../images/icon_crewshop_small_car.png);
}
.icon-small-bus {
  background-image: url(../images/icon_crewshop_small_bus.png);
}
.icon-small-tax-refund {
  background-image: url(../images/icon_crewshop_small_tax_refund.png);
}
.icon-small-counselor {
  background-image: url(../images/icon_crewshop_small_counselor.png);
}
.icon-small-bag-discount {
  background-image: url(../images/icon_crewshop_small_bag_discount.png);
}
.logo-patagonia {
  background-image: url(../images/logo/logo-patagonia.png);
}
.logo-normann {
  background-image: url(../images/logo/logo-normann.png);
}
.logo-vita {
  background-image: url(../images/logo/logo-vita.png);
}
.logo-kai {
  background-image: url(../images/logo/logo-kai.jpg);
}
.logo-illy {
  background-image: url(../images/logo/logo-illy.jpg);
}
.logo-cybex {
  background-image: url(../images/logo/logo-cybex.png);
}
.logo-kusmitea {
  background-image: url(../images/logo/logo-kusmitea.png);
}
.logo-delonghi {
  background-image: url(../images/logo/logo-delonghi.png);
}
.logo-recaro {
  background-image: url(../images/logo/logo-recaro.png);
}
.logo-wesco {
  background-image: url(../images/logo/logo-wesco.png);
}
.logo-stelton {
  background-image: url(../images/logo/logo-stelton.png);
}
.logo-house-doctor {
  background-image: url(../images/logo/logo-house-doctor.png);
}
.logo-alfi {
  background-image: url(../images/logo/logo-alfi.png);
}
.logo-britax {
  background-image: url(../images/logo/logo-britax.png);
}
.logo-skeppshult {
  background-image: url(../images/logo/logo-skeppshult.png);
}
.logo-cote-table {
  background-image: url(../images/logo/logo-cote-table.png);
}
.logo-alessi {
  background-image: url(../images/logo/logo-alessi.png);
}
.logo-kahler {
  background-image: url(../images/logo/logo-kahler.png);
}
.logo-serax {
  background-image: url(../images/logo/logo-serax.png);
}
.logo-joseph-joseph {
  background-image: url(../images/logo/logo-joseph-joseph.png);
}
.logo-marimekko {
  background-image: url(../images/logo/logo-marimekko.png);
}
.logo-nomi {
  background-image: url(../images/logo/logo-nomi.png);
}
.logo-kaymet {
  background-image: url(../images/logo/logo-kaymet.png);
}
.logo-reichenbach {
  background-image: url(../images/logo/logo-reichenbach.png);
}
.logo-apilco {
  background-image: url(../images/logo/logo-apilco.png);
}
.logo-burleigh {
  background-image: url(../images/logo/logo-burleigh.png);
}
.logo-portmeirion {
  background-image: url(../images/logo/logo-portmeirion.png);
}
.logo-nesmuk {
  background-image: url(../images/logo/logo-nesmuk.png);
}
.logo-royal-copenhagen {
  background-image: url(../images/logo/logo-royal-copenhagen.png);
}
body {
  color: #969ea4;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 160%;
  word-break: keep-all;
}
a,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}
button {
  outline: none;
}
/*-- common --*/
.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid #efefef;
}
.divider-sub {
  width: 100%;
  height: 1px;
  margin: 48px 0;
  border-top: 1px solid #efefef;
}
.concept-hero {
  background-image: url(../images/introduce-back.jpg);
}
.contact-hero {
  background-image: url(../images/contact-back.jpg);
}
.intro-hero {
  background-image: url(../images/introduce-back.jpg);
}
.cafe-hero {
  background-image: url(../images/cafe-back.jpg);
}
.hero-sub-shop {
  background-image: url(../images/hero-sub-shop.jpg);
}
.hero-sub-brand {
  background-image: url(../images/hero-sub-brand.jpg);
}
.hero-sub-bakery {
  background-image: url(../images/hero-sub-bakery.jpg);
}
.hero-sub-contact {
  background-image: url(../images/hero-sub-contact.jpg);
}
.hero-sub-contact-1 {
  background-image: url('../images/hero-sub-contact-1.jpg');
  height: 360px;
}
.btn-orange {
  color: #fff;
  background-color: #f24609;
  border: 0;
  border-radius: 30px;
  padding: 16px 20px;
}
.btn-orange:hover {
  color: #fff;
  background-color: #c93500;
  border: 0;
  border-radius: 30px;
  padding: 16px 20px;
}
.btn-wrap {
  margin-top: 20px;
  text-align: center;
}
.block {
  padding: 58px 0;
  /*--
	h3.paragraph-header:before {
		content: "'";
		display: inline;
		width: 48px;
		height: 48px;
		margin-right: -8px;
		background-image: url(../images/q-start.png);
		background-repeat: no-repeat;
		background-position: center center;
		-webkit-background-size: 48px;
		   -moz-background-size: 48px;
			 -o-background-size: 48px;
				background-size: 48px;
		z-index: 1;
	}

	h3.paragraph-header:after {
		content: "'";
		display: inline;
		width: 48px;
		height: 64px;
		margin-left: -8px;
		background-image: url(../images/q-end.png);
		background-repeat: no-repeat;
		background-position: center 16px;
		-webkit-background-size: 48px;
		   -moz-background-size: 48px;
			 -o-background-size: 48px;
				background-size: 48px;
		z-index: 1;
	}
  --*/
}
.block .header,
.block .header-sub,
.block .description,
.block h3.paragraph-header {
  text-align: center;
}
.block .header {
  color: #44494c;
  font-size: 36px;
  font-weight: 600;
}
.block .header-sub {
  color: #7a8187;
  font-size: 16px;
  margin: 8px 0 40px 0;
}
.block h3.paragraph-header {
  color: #333;
  font-size: 36px;
  font-weight: 300;
  font-family: "Kopub Batang";
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 140%;
  z-index: 5;
  letter-spacing: -0.04em;
}
.block p {
  margin-bottom: 36px;
  font-size: 15px;
  line-height: 180%;
  text-align: center;
}
.block p:last-child {
  margin-bottom: 0;
}
.background-full {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar {
  margin-bottom: 0;
}
.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.8) !important;
  border: 0 !important;
}
/*-- hero --*/
.intro-header {
  width: 100%;
  height: 800px;
  color: #fff;
}
.intro-header .logo {
  width: 30px;
  margin: 0 auto 24px auto;
  padding-top: 24px;
}
.intro-header .nav-custom {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.intro-header .nav-custom li {
  display: inline-block;
  margin: 0 14px;
  padding-right: 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.intro-header .nav-custom li:last-child {
  margin: 0 0 0 14px;
  padding-right: 0;
  border-right: none;
}
.intro-header h1 {
  color: #fff;
  font-weight: 100;
  font-size: 86px;
  margin-top: 114px;
}
.intro-header h2 {
  color: #fff;
  font-size: 20px;
  margin-top: 24px;
  line-height: 170%;
  font-weight: 300;
}
.intro-header .btn-more-info {
  width: 100%;
  padding-top: 200px;
  text-align: center;
}
.intro-header .arrow-bottom {
  display: block;
  width: 48px;
  margin: 0 auto;
  padding-top: 16px;
}
.brand-block .brand-item {
  height: 190px;
  padding: 24px;
  border: 1px solid #efefef;
}
.brand-block h3.header {
  height: 180px;
  margin: 0 auto 14px auto;
  padding-top: 76px;
  padding-bottom: 14px;
  border-bottom: 1px solid #e4e4e4;
  background-repeat: no-repeat;
  background-size: 72px 72px;
  background-position: top center;
  text-align: center;
  line-height: 120%;
}
.brand-block .brand-list-wrap {
  display: block;
  list-style: none;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
}
.brand-block .brand-list-wrap li {
  display: inline-block;
  position: relative;
  float: left;
  width: 25%;
  height: 200px;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.brand-block .brand-list-wrap li .brand-list-item {
  width: 100%;
  height: 200px;
  border: 1px solid #e3e3e3;
  padding: 140px 16px 16px 16px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 130px;
  -moz-background-size: 130px;
  -o-background-size: 130px;
  background-size: 130px;
  opacity: 0.3;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.brand-block .brand-list-wrap li .brand-list-item:hover {
  opacity: 0.9;
}
.brand-block .brand-list-wrap:after {
  display: block;
  content: "";
  clear: both;
}
.cafe-block h2.header {
  color: #fff;
}
.cafe-block h3.header-sub {
  color: #bfc8cf;
}
.cafe-block p {
  color: #fff;
}
/* --.news-block {
	.article-item {
		margin-bottom: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid #e4e4e4;

		.title {
			color: #313231;
			font-size: 20px;
			font-weight: 800;
		}

		.date {
			display: block;
			color: #A8A8A8;
			font-size: 13px;
			margin-bottom: 14px;
		}

		p {
			color: #A8A8A8;
			font-size: 13px;
		}

		.feature-image {
			height: 194px;
			padding: 24px;
			border: 1px solid #efefef;
		}
	}
} --*/
.contact-block {
  color: #fff;
  width: 100%;
  padding: 40px 0;
  background-color: #353535;
}
.contact-block .header {
  color: #fff;
}
.contact-block .header-sub {
  color: #fff;
}
.contact-block .contact-item {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 40px;
  line-height: 100%;
}
.contact-block .contact-item strong {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
}
.opening-time-block {
  color: #fff;
  width: 100%;
  height: 200px;
  padding: 40px 0;
  background-color: #141313;
  border-bottom: 1px solid #242323;
}
.opening-time-block .opening-time-item strong {
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
}
/*-- sub header --*/
.sub-title {
  color: #fff;
  text-align: center;
  height: 400px;
}
.sub-title h1 {
  margin-top: 108px;
  font-weight: 200;
  font-size: 48px;
  word-break: keep-all;
}
.sub-title h2 {
  font-size: 20px;
  line-height: 170%;
  font-weight: 300;
  margin: 0;
}
footer.footer-block {
  color: #fff;
  width: 100%;
  padding: 40px 0;
  background-color: #141313;
}
@media screen and (max-width: 767px) {
  .intro-header {
    height: 500px;
  }
  .intro-header .nav-custom li {
    font-size: 14px;
    margin: 0 4px;
    padding-right: 9px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .intro-header .nav-custom li:last-child {
    margin: 0 0 0 3px;
  }
  .intro-header h1 {
    font-size: 48px;
    margin-top: 86px;
  }
  .intro-header h2 {
    font-size: 16px;
    margin-top: 24px;
  }
  .intro-header .btn-more-info {
    padding-top: 68px;
    text-align: center;
  }
  .block {
    padding: 25px 0;
  }
  .block .header {
    font-size: 30px;
  }
  .block .header-sub {
    color: #7a8187;
    font-size: 15px;
    margin: 8px 0 24px 0;
  }
  .block h3.paragraph-header {
    font-size: 24px;
  }
  .block p {
    margin-bottom: 24px;
    font-size: 13px;
  }
  .sub-title {
    color: #fff;
    text-align: center;
    height: 360px;
  }
  .sub-title h1 {
    margin-top: 68px;
    font-weight: 200;
    font-size: 36px;
  }
  .sub-title h2 {
    font-size: 16px;
    line-height: 170%;
    font-weight: 300;
    margin: 0;
  }
  .contact-block {
    padding: 25px 0;
  }
  .contact-block .header-sub {
    color: #fff;
  }
  .contact-block .contact-item {
    font-size: 24px;
  }
  .contact-block .contact-item strong {
    font-size: 15px;
  }
  .brand-block .brand-list-wrap li {
    width: 50%;
    height: 90px;
  }
  .brand-block .brand-list-wrap li .brand-list-item {
    width: 100%;
    height: 100px;
    padding: 40px 16px 16px 16px;
    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    -o-background-size: 80px;
    background-size: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .intro-header {
    height: 600px;
  }
  .intro-header .btn-more-info {
    padding-top: 48px;
    text-align: center;
  }
}
