// out: common.CSS

@import url('wantone.less');

* {
	box-sizing: border-box;
}

body {
	font-family: "Titillium Web";
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.title-wrap {
	margin: 24px;
}

.title {
	color: #122032;
	font-size: 42px;
}

.share {
	margin: 16px 0 36px 0;
	padding: 0;

	li {
		display: inline-block;
		list-style: none;
	}
}

.chips {
	width: 100%;
	padding: 4px 24px 24px 24px;
	background-color: #f5f5f5;
}

.description {
	color: @gray-510;
	margin: 86px 0 0 0;

	a {
		color: @blue-410;
		text-decoration: none;
	}

	a:hover {
		color: #fff;
		background-color: @purple-730;
	}
}

.color-tone {
	width: 100%;
	margin: 24px 0 48px 0;
	vertical-align: top;
	transform: translateZ(0);
	position: relative;
	z-index: 10;

	.color-block {
		display: inline-block;
		vertical-align: top;
		transition: all 0.3s ease;
		border-radius: 8px;
	}

	.color-chip {
		width: 150px;
		height: 180px;
		margin-right: 16px;
		margin-bottom: 24px;
		background-color: #fff;
		-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.05);
  	   -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.05);
			    	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.05);
		border: 0;

		.color-name {
			margin: 0;
			padding: 0;
			font-size: 16px;
			font-weight: 600;
		}

		.color-box-main {
			width: 150px;
			height: 150px;
			padding: 16px;
		}

		.color-box-sub {
			display: inline-block;
			float: left;
			width: 30px;
			height: 30px;
			padding: 0;
		}

		.step-100 { opacity: 1; }
		.step-070 { opacity: 0.7; }
		.step-050 { opacity: 0.5; }
		.step-030 { opacity: 0.3; }
		.step-000 { opacity: 0; }
	}

	.color-block:hover {
		    -ms-transform: scale(1.12); /* IE 9 */
	  -webkit-transform: scale(1.12); /* Safari 3-8 */
	          transform: scale(1.12);
		z-index: 999;
	}

	.color-chip + .empty {
		display: inline-block;
		width: 150px;
		height: 180px;
		border: 1px solid #efefef;
	}
}

.footer {
	padding: 24px 24px 68px 24px;
	font-size: 12px;
	border-top: 1px solid #efefef;

	.thanksto {
		color: #9f9f9f;
	}
}
