.color-failed {
  color: #D21111 !important;
}
.color-blue {
  color: #17298E;
}
.color-tag-green {
  color: #fff;
  background-color: #00CA35;
}
.color-tag-yellow {
  color: #D07310;
  background-color: #FCEDD4;
}
.color-tag-greenish {
  color: #0E7444;
  background-color: #A1D7BF;
}
.color-tag-purple {
  color: #7433CA;
  background-color: #EBDBFD;
}
.color-tag-sky {
  color: #0D88B1;
  background-color: #D2EFFC;
}
.color-tag-brown {
  color: #947964;
  background-color: #F2ECE8;
}
.color-tag-gray {
  color: #676B72;
  background-color: #DDDEE2;
}
.color-tag-red {
  color: #9E0D0D;
  background-color: #FCE0E0;
}
.color-rating-red {
  color: #fff;
  background-color: #800025;
}
.color-rating-orange {
  color: #fff;
  background-color: #F9AE2F;
}
.tpgp-h3 {
  font-size: 15px;
  font-weight: bold;
}
.tpgp-h1 {
  font-size: 48px;
  font-weight: bold;
}
.tpgp-h2 {
  font-size: 36px;
  font-weight: bold;
}
.ic-loc-minimum {
  background-image: url('../img/icon-loc-minimum.svg');
}
.ic-more {
  background-image: url('../img/icon-more.svg');
}
.ic-github {
  background-image: url('../img/icon-github.svg');
}
.ic-issues-minimum {
  background-image: url('../img/icon-issues-minimum.svg');
}
body {
  background-color: #F8F8FB;
  padding-top: 140px;
}
.navbar-primary .icon {
  width: 28px;
  margin: auto 8px;
}
.navbar-primary .icon li a {
  padding-top: 18px !important;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 0;
}
#repository-on,
#repository-on-2 {
  display: none;
}
.progress-scan {
  color: #fff;
  font-size: 10.5px;
  font-weight: bold;
  width: 100%;
  height: 16px;
  background-image: url('/img/image-progress.gif');
  background-repeat: no-repeat;
  background-size: 581px 16px;
  background-position: -360px 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 16px;
  border-radius: 6px 6px 0 0;
  background-color: #fff;
  top: 0;
  left: 0;
  position: absolute;
}
.progress-scan-2 {
  color: #fff;
  font-size: 10.5px;
  font-weight: bold;
  width: 100%;
  height: 16px;
  background-image: url('/img/image-progress-2.gif');
  background-repeat: no-repeat;
  background-size: 581px 16px;
  background-position: -360px 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 16px;
  border-radius: 6px 6px 0 0;
  background-color: #fff;
  top: 0;
  left: 0;
  position: absolute;
}
.click-area {
  position: absolute;
  z-index: 666;
}
#navbar-second {
  background-color: #2738B5;
  height: 60px;
}
#navbar-second .navbar-second-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-top: 14px;
}
.title-section {
  color: #1D2534;
  font-size: 24px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 18px;
}
.box-style {
  background-color: #fff;
  border-radius: 6px;
  padding: 18px;
  box-shadow: 0px 2px 7px 0px rgba(33, 39, 50, 0.16);
}
.menu li a {
  color: #fff !important;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu-main {
  margin-left: 240px;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .menu-main {
    margin-left: 24px;
  }
}
.search-global {
  color: #F1F2F4;
  width: 330px !important;
  background-color: #3E444F;
  font-size: 15px;
  border: none;
}
@media (min-width: 768px) and (max-width: 1084px) {
  .search-global {
    display: none !important;
  }
}
.wrap-summary .block-summary {
  height: 140px;
  border-right: 1px solid #F2F3F5;
}
.wrap-summary .block-summary .header-block {
  text-align: center;
  margin-bottom: 9px;
}
.wrap-summary .block-summary .header-block .icon {
  display: block;
  width: 28px;
  height: 28px;
  margin: 6px auto;
}
.wrap-summary .block-summary .header-block .icon img {
  widht: 28px;
  height: 28px;
}
.wrap-summary .block-summary .header-block .title {
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.wrap-summary .block-summary .content {
  text-align: center;
}
.wrap-summary .block-summary .content-summary-repository {
  font-size: 48px;
  font-weight: bold;
  color: #2738B5;
  margin-top: 0;
}
.wrap-summary .block-summary .content-summary-rating {
  display: inline-block;
  margin-top: 9px;
  padding-right: 24px;
  font-size: 24px;
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 40px;
}
.wrap-summary .block-summary .image-container {
  width: 200px;
  height: 60px;
  margin: auto auto;
  background-image: url('../img/image-loc-big.svg');
  background-repeat: no-repeat;
  background-size: 104px 48px;
  background-position: 75% center;
}
.wrap-summary .block-summary .image-container .content-summary-loc {
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  padding-right: 48px;
}
.wrap-summary .block-summary:last-of-type {
  border-right: 0;
}
@media (max-width: 991px) {
  .wrap-summary .block-summary {
    height: inherit;
  }
  .wrap-summary .block-summary .header-block {
    display: inline-block;
    text-align: center;
    margin: 8px 0;
  }
  .wrap-summary .block-summary .header-block .icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 6px auto;
  }
  .wrap-summary .block-summary .header-block .icon img {
    widht: 28px;
    height: 28px;
  }
  .wrap-summary .block-summary .header-block .title {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .wrap-summary .block-summary .content {
    display: inline-block;
    text-align: center;
    left: 200px;
    position: absolute;
  }
  .wrap-summary .block-summary .content .content-summary-repository {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    margin-top: 6px;
  }
  .wrap-summary .block-summary .content .content-summary-rating {
    font-size: 18px;
    font-weight: bold;
    padding: 2px 7px;
    border-radius: 14px;
    display: inline-block;
    margin-top: 12px;
  }
  .wrap-summary .block-summary .content .image-container {
    margin: inherit;
    width: auto;
    background-repeat: no-repeat;
    background-size: 84px auto;
    background-position: right;
  }
  .wrap-summary .block-summary .content .image-container .content-summary-loc {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    margin-top: 6px;
  }
  .wrap-summary .block-summary:nth-of-type(even) {
    border-right: 0;
  }
}
@media (max-width: 767px) {
  .wrap-summary .block-summary {
    border-right: 0;
  }
}
.context {
  width: 193px;
  font-size: 14px;
}
.context ul {
  margin: 0;
  padding: 0;
}
.context ul li {
  list-style: none !important;
  margin: 18px 0;
  padding-bottom: 18px;
  border-bottom: 1px solid #ECEDF0;
}
.context ul li a {
  color: #1D2534;
}
.context ul li:first-of-type {
  margin-top: 0;
}
.context ul li:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.context-repository {
  position: absolute;
  top: 60px;
  left: 320px;
  z-index: 666;
  display: none;
}
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: none;
  background-size: 100% 100%;
}
.icon-xs {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 6px;
  background-repeat: none;
  background-size: 100% 100%;
  vertical-align: top;
}
.wrap-repository-list {
  margin-top: 18px;
}
.block-repository {
  position: relative;
  margin-bottom: 16px;
}
.block-repository .section-title span {
  float: left;
}
.block-repository .section-title .icon {
  margin-right: 8px;
}
.block-repository .section-title .title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 9px;
  margin-top: -4px;
}
.block-repository .section-title .version {
  display: block;
  color: #fff;
  clear: both;
  font-size: 12px;
  margin-left: 32px;
  padding: 2px 7px;
  background-color: #B0B3B9;
  border-radius: 3px;
}
.block-repository .section-title .rating-medium {
  margin-top: 0;
}
.block-repository .section-title .icon-context {
  top: 14px;
  right: 12px;
  position: absolute;
  cursor: pointer;
}
.block-repository .section-divider {
  border-bottom: 1px solid #ECEDF0;
  padding-bottom: 18px;
  margin-bottom: 18px;
}
.block-repository .section-divider:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.block-repository h5 {
  color: #A2A5AA;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.block-repository .date {
  width: 40%;
}
.block-repository .date h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.block-repository .date span {
  color: #17298E;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.block-repository .date-left {
  float: left;
}
.block-repository .date-right {
  float: right;
  text-align: right;
}
.block-repository .section-information {
  display: flex;
  flex-wrap: wrap;
  color: #85888E;
  font-family: proxima-nova-condensed, sans-serif !important;
  font-weight: 600;
  font-style: normal;
}
.block-repository .section-information .block-data {
  flex-grow: 3;
  width: auto;
  margin-right: 3px;
  padding-right: 3px;
  border-right: 1px solid #DDDEE2;
  text-align: center;
}
.block-repository .section-information .block-data .icon-with-text {
  font-size: 12px;
}
.block-repository .section-information .block-data:last-of-type {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
@media (min-width: 992px) and (max-width: 1390px) {
  .block-repository .section-information .block-data .icon-xs {
    display: none !important;
  }
}
.rating-md {
  font-size: 14px;
  font-weight: bold;
  padding: 2px 9px 2px 7px;
  border-radius: 14px;
}
.rating-lg {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 7px;
  border-radius: 14px;
}
.rating-xl {
  font-size: 24px;
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 40px;
}
.tag-small {
  font-family: proxima-nova-condensed, sans-serif !important;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 14px;
}
.tag-xl {
  font-size: 24px;
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 40px;
}
