.icon-small-parking {
  background-image: url(../images/icon_crewshop_small_parking.png);
}
.icon-small-car {
  background-image: url(../images/icon_crewshop_small_car.png);
}
.icon-small-bus {
  background-image: url(../images/icon_crewshop_small_bus.png);
}
.icon-small-tax-refund {
  background-image: url(../images/icon_crewshop_small_tax_refund.png);
}
.icon-small-counselor {
  background-image: url(../images/icon_crewshop_small_counselor.png);
}
.icon-small-bag-discount {
  background-image: url(../images/icon_crewshop_small_bag_discount.png);
}
