.logo-patagonia {
  background-image: url(../images/logo/logo-patagonia.png);
}
.logo-normann {
  background-image: url(../images/logo/logo-normann.png);
}
.logo-vita {
  background-image: url(../images/logo/logo-vita.png);
}
.logo-kai {
  background-image: url(../images/logo/logo-kai.jpg);
}
.logo-illy {
  background-image: url(../images/logo/logo-illy.jpg);
}
.logo-cybex {
  background-image: url(../images/logo/logo-cybex.png);
}
.logo-kusmitea {
  background-image: url(../images/logo/logo-kusmitea.png);
}
.logo-delonghi {
  background-image: url(../images/logo/logo-delonghi.png);
}
.logo-recaro {
  background-image: url(../images/logo/logo-recaro.png);
}
