* {
  box-sizing: border-box;
}
body {
  font-family: "Sofia Pro", Helvetica, Sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.container {
  width: 450px;
  margin: 0 auto;
}
.container .title {
  color: #3b444d;
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.04em;
}
.container h4 {
  color: #919294;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}
.container .result-display {
  position: relative;
  width: 450px;
  height: 450px;
  border: 1px solid #e1e2e4;
}
.container .result-display .display-face {
  position: absolute;
  z-index: 30;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 450px;
  height: 450px;
}
.container .result-display .display-body {
  position: absolute;
  z-index: 20;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 450px;
  height: 450px;
}
.container .result-display .display-text {
  position: absolute;
  z-index: 10;
  width: 450px;
  height: 450px;
  background-image: url('../svg/logo-embold.svg');
  background-position: right 16px bottom 16px;
  background-size: 86px auto;
  background-repeat: no-repeat;
}
.container .selector {
  display: inline-block;
  width: 52px;
  height: 52px;
  margin-right: 8px;
  border: 2px solid #e2e3e4;
  border-radius: 4px;
  box-sizing: border-box;
}
.container .selector-face {
  padding: 8px 0;
}
.container .selector-face .selector {
  background-image: url('../svg/btn-face.svg');
  background-size: auto 48px;
}
.container .selector-face .btn-face-1 {
  background-position: left 0 top 0;
}
.container .selector-face .btn-face-2 {
  background-position: left -48px top 0;
}
.container .selector-face .btn-face-3 {
  background-position: left -96px top 0;
}
.container .selector-body {
  padding: 8px 0;
}
.container .selector-body .selector {
  background-image: url('../svg/btn-weapon.svg');
  background-size: auto 48px;
}
.container .selector-body .btn-body-1 {
  background-position: left 0 top 0;
}
.container .selector-body .btn-body-2 {
  background-position: left -48px top 0;
}
.container .selector-body .btn-body-3 {
  background-position: left -96px top 0;
}
.container .selector-body .btn-body-4 {
  background-position: left -144px top 0;
}
.container .block-btn {
  margin-bottom: 48px;
  text-align: center;
}
.container .block-btn .btn-print {
  color: #fff;
  width: 100%;
  border: 0;
  border-radius: 4px;
  background-color: #3FC38F;
  background-image: none;
  font-size: 20px;
  padding: 20px 16px 16px 16px;
  font-family: "Sofia Pro", Helvetica, Sans-serif;
  cursor: pointer;
  outline: none;
  margin-bottom: 8px;
}
.container .block-btn a {
  color: #000000;
  text-decoration: underline;
}
.container .block-btn .btn-print:hover,
.container .block-btn .btn-print:active {
  background-color: #35AF7A;
  outline: none;
}
.face-1 {
  content: "Face-1";
}
.face-2 {
  background-image: url('../svg/face-2.svg');
}
.face-3 {
  background-image: url('../svg/face-3.svg');
}
.body-1 {
  background-image: url('../svg/body-1.svg');
}
.body-2 {
  background-image: url('../svg/body-2.svg');
}
.body-3 {
  background-image: url('../svg/body-3.svg');
}
.body-4 {
  background-image: url('../svg/body-4.svg');
}
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 18px !important;
  }
  .container .title {
    margin-top: 8px;
    font-size: 24px;
  }
  .container .result-display {
    width: 100%;
    height: 320px;
  }
  .container .result-display .display-face {
    width: 100%;
    height: 320px;
  }
  .container .result-display .display-body {
    width: 100%;
    height: 320px;
  }
  .container .result-display .display-text {
    width: 100%;
    height: 320px;
  }
}
@media print {
  body {
    margin: 15mm !important;
  }
  .container {
    margin: 0;
  }
  .result-display {
    width: 89mm !important;
    height: 54mm !important;
  }
  .result-display .display-face,
  .result-display .display-body {
    width: 89mm !important;
    height: 54mm !important;
    background-size: auto 100% !important;
    background-position: center center !important;
    background-repeat: no-repeat;
  }
  .result-display .display-text {
    width: 89mm !important;
    height: 54mm !important;
    background-size: 24mm auto !important;
    background-repeat: no-repeat;
  }
  .title,
  .selector-face,
  .selector-body,
  .block-btn {
    display: none !important;
  }
}
