@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
.gray-110 {
  color: #fff;
  background-color: #141311;
}
.gray-310 {
  color: #fff;
  background-color: #2E3030;
}
.gray-510 {
  color: #fff;
  background-color: #3D3F3F;
}
.gray-520 {
  color: #fff;
  background-color: #434036;
}
.gray-710 {
  color: #fff;
  background-color: #818281;
}
.gray-720 {
  color: #fff;
  background-color: #76776F;
}
.gray-810 {
  color: #fff;
  background-color: #BAA99F;
}
.gray-820 {
  background-color: #DAD3C7;
}
.blue-210 {
  color: #fff;
  background-color: #122032;
}
.blue-410 {
  color: #fff;
  background-color: #02275B;
}
.blue-510 {
  color: #fff;
  background-color: #00348C;
}
.blue-610 {
  color: #fff;
  background-color: #006BAE;
}
.blue-620 {
  color: #fff;
  background-color: #017C7C;
}
.blue-630 {
  color: #fff;
  background-color: #4E6278;
}
.blue-710 {
  color: #fff;
  background-color: #3C75AA;
}
.blue-720 {
  color: #fff;
  background-color: #148BA8;
}
.blue-730 {
  color: #fff;
  background-color: #1095B6;
}
.blue-740 {
  color: #fff;
  background-color: #4186A2;
}
.blue-810 {
  color: #fff;
  background-color: #69A1D2;
}
.blue-910 {
  color: #fff;
  background-color: #B3D9CD;
}
.red-310 {
  color: #fff;
  background-color: #970F15;
}
.red-410 {
  color: #fff;
  background-color: #B11717;
}
.red-510 {
  color: #fff;
  background-color: #D24F08;
}
.red-610 {
  color: #fff;
  background-color: #F52711;
}
.red-710 {
  color: #fff;
  background-color: #ED5F16;
}
.red-720 {
  color: #fff;
  background-color: #EC7D17;
}
.red-810 {
  color: #fff;
  background-color: #FAA20E;
}
.red-820 {
  color: #fff;
  background-color: #EBBB1E;
}
.red-830 {
  color: #fff;
  background-color: #D2B20A;
}
.red-910 {
  color: #fff;
  background-color: #EDCC71;
}
.red-920 {
  color: #fff;
  background-color: #EFD765;
}
