// out: wantone.css

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

@gray-110: #141311;
@gray-310: #2E3030;
@gray-510: #3D3F3F;
@gray-520: #434036;
@gray-710: #818281;
@gray-720: #76776F;
@gray-810: #BAA99F;
@gray-820: #DAD3C7;

@blue-210: #122032;
@blue-410: #02275B;
@blue-510: #00348C;
@blue-610: #006BAE;
@blue-620: #017C7C;
@blue-630: #4E6278;
@blue-710: #3C75AA;
@blue-720: #148BA8;
@blue-730: #1095B6;
@blue-740: #4186A2;
@blue-810: #69A1D2;
@blue-910: #B3D9CD;

@red-310: #970F15;
@red-410: #B11717;
@red-510: #D24F08;
@red-610: #F52711;
@red-710: #ED5F16;
@red-720: #EC7D17;
@red-810: #FAA20E;
@red-820: #EBBB1E;
@red-830: #D2B20A;
@red-910: #EDCC71;
@red-920: #EFD765;


.gray-110 { color: #fff; background-color: @gray-110; }
.gray-310 { color: #fff; background-color: @gray-310; }
.gray-510 { color: #fff; background-color: @gray-510; }
.gray-520 { color: #fff; background-color: @gray-520; }
.gray-710 { color: #fff; background-color: @gray-710; }
.gray-720 { color: #fff; background-color: @gray-720; }
.gray-810 { color: #fff; background-color: @gray-810; }
.gray-820 { background-color: @gray-820; }

.blue-210 { color: #fff; background-color: @blue-210; }
.blue-410 { color: #fff; background-color: @blue-410; }
.blue-510 { color: #fff; background-color: @blue-510; }
.blue-610 { color: #fff; background-color: @blue-610; }
.blue-620 { color: #fff; background-color: @blue-620; }
.blue-630 { color: #fff; background-color: @blue-630; }
.blue-710 { color: #fff; background-color: @blue-710; }
.blue-720 { color: #fff; background-color: @blue-720; }
.blue-730 { color: #fff; background-color: @blue-730; }
.blue-740 { color: #fff; background-color: @blue-740; }
.blue-810 { color: #fff; background-color: @blue-810; }
.blue-910 { color: #fff; background-color: @blue-910; }

.red-310 { color: #fff; background-color: @red-310; }
.red-410 { color: #fff; background-color: @red-410; }
.red-510 { color: #fff; background-color: @red-510; }
.red-610 { color: #fff; background-color: @red-610; }
.red-710 { color: #fff; background-color: @red-710; }
.red-720 { color: #fff; background-color: @red-720; }
.red-810 { color: #fff; background-color: @red-810; }
.red-820 { color: #fff; background-color: @red-820; }
.red-830 { color: #fff; background-color: @red-830; }
.red-910 { color: #fff; background-color: @red-910; }
.red-920 { color: #fff; background-color: @red-920; }
