@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

.neutral-900 {
  color: #fff;
  background-color: #0f1c3a;
}

.neutral-800 {
  color: #fff;
  background-color: #213351;
}

.neutral-700 {
  color: #fff;
  background-color: #2a3e5d;
}

.neutral-600 {
  color: #fff;
  background-color: #334968;
}

.neutral-500 {
  color: #fff;
  background-color: #506682;
}

.neutral-400 {
  color: #fff;
  background-color: #657992;
}

.neutral-300 {
  color: #fff;
  background-color: #7a8da2;
}

.neutral-200 {
  color: #fff;
  background-color: #8ea0b1;
}

.neutral-100 {
  color: #fff;
  background-color: #a3b3c1;
}

.neutral-80 {
  background-color: #cad5db;
}

.neutral-60 {
  background-color: #d7dfe3;
}

.neutral-40 {
  background-color: #e3e8ec;
}

.neutral-20 {
  background-color: #eff2f4;
}

.neutral-0 {
  background-color: #ffffff;
}
