// out: embold.css

@import url("https://use.typekit.net/cwa2ewg.css");
@import url("color-chart.less");
@import url("form.less");
@import url("icons.less");

/* -- prefix --*/

.sofia {
  font-family: 'Sofia Pro', sans-serif;
  letter-spacing: -0.02em;
}

.background-no-repeat {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-center {
  text-align: center;
}

.box-shadow {
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.14);
     -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.14);
          box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.14);
}

.box-shadow-none {
  -webkit-box-shadow: 0 !important;
     -moz-box-shadow: 0 !important;
          box-shadow: 0 !important;
}

.transition {
  transition: all 0.5s;
}

.icon {
  width: 48px;
  height: 48px;
  margin-top: 4px;
  margin-right: 12px;
  .background-no-repeat;
}

.body-illustration {
  height: 300px;
  background-size: 70%;
}

* {
  box-sizing: border-box;
}

body {
  color: @gray800;
  font-family: 'Acumin Pro', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 3rem;
  font-family: 'Sofia Pro', sans-serif;
  margin: 8px 0 24px 0;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

h4 {
  color: @gray700;
  font-size: 0.9rem;
  font-family: 'Sofia Pro', sans-serif;
  margin: 0 0 8px 0;
  text-transform: uppercase;
}

nav {
  padding: 17px 0 12px 0;
  font-size: 14px;
  position: fixed;
  background-color: @white;
  top: 0;
  z-index: 999;
  .transition;

  .nav-wrap-items {

    .nav-item-main {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.nav-grid {
  width: 100%;

  .nav-item-logo,
  .nav-item-sign {
    display: inline-block;
  }

  .nav-item-logo {
    width: 270px;
    margin-top: 3px;
    margin-left: 24px;
    margin-bottom: -3px;
    float: left;
  }

  .nav-item-sign {
    float: right;
    margin-right: 24px;
  }

  .nav-wrap-items {
    display: inline-block;
    width: 570px;
    left: 50%;
    margin-left: -285px;
    position: absolute;

    .active {
      padding-bottom: 14px;
      border-bottom: 5px solid @orange800;
    }

    .nav-item-main {
      width: 130px;
      margin-top: 4px;
      margin-right: 16px;
      float: left;
    }

    .nav-item-main:last-child {
      margin-right: 0;
    }
  }
}

.nav-sub {
  display:none;
  position: fixed;
  top: 57px;
  background-color: @gray800;
  height: 194px;
  padding-top: 14px;
  z-index: 998;
  .box-shadow;

  .nav-menu-link {
    color: @gray500;
    display: block;
    margin-bottom: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    font-size: 0.8em;
    .transition;
  }

  .nav-menu-link:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  .nav-menu-link:hover {
    color: @orange800;
  }
}

.display {
  display: block;
}

.container-fluid {
  width: 100%;
}

.bg-light {

}

.bg-orange {
  color: @white;
  background-color: @orange800;

  h4 {
    color: @white;
  }

  .block-description {
    color: @white !important;
    margin-bottom: 32px;
  }
}

/* -- ui elements --*/

.btn {
  border: 0;
  cursor: pointer;
}

.btn-md {
  font-size: 14px;
  padding: 12px 18px;
  border-radius: 48px;
}

.btn-sm {
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 48px;
}

.btn-default {
  color: @white;
  background-color: @gray800;
}

.btn-default:hover,
.btn-default:active {
  background-color: @gray900;
}

.btn-orange {
  color: @white;
  background-color: @orange800;
}

.btn-orange:hover,
.btn-orange:active {
  background-color: @orange800;
}

.input {
  padding: 12px 18px;
  border-radius: 24px;
  border:1px solid @gray500;
  font-size: 14px;
}

.inline-input {
  display: inline-block;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* -- ui elements --*/

.block {
  padding: 53px 0;

  h1,
  h2,
  h3,
  h4,
  h5 {
    .text-center;
  }

  span.icon-section {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    .background-no-repeat;
  }

  .block-description {
    color: @gray600;
    width: 60%;
    margin: 0 auto 16px auto;
    font-size: 1rem;
    font-weight: normal;
    .text-center;
  }
}

.block:after {
  display: block;
  content: '';
  clear: both;
}

.block-footer {
  color: @gray600;
  font-size: 13px;
  padding: 32px 0 48px 0;
  background-color: @gray200;

  h4 {
    color: @gray800;
    margin: 0 0 16px 0;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
  }

  .nav-menu-link {
    display: block;
    margin-bottom: 5px;
  }
}

.block-copyright {
  color: @gray600;
  font-size: 13px;
  padding: 14px 0 12px 0;
  background-color: @gray800;

  .terms {
    margin-right: 16px;
    text-decoration: none;
  }

  .icon-sns {
    margin-right: 16px;
    font-size: 18px;
  }
}

/*-- section - index --*/

.block-index-hero {
  .wrap-hero-content {
    width: 40em;
    margin-top: 14em;
    margin-bottom: 3em;
    padding: 2em;
    z-index: 20;
    position: relative;

    h1.headcopy {
      margin: 0;
      padding: 0;
      font-size: 3.4em;
      text-align: left;
      line-height: 1.3;
      .sofia;
    }

    .description {
      color: @gray700;
    }

    .wrap-sign-up {
      margin-top: 2em;

      input.input {
        width: 20em;
      }
    }
  }

  .header-image {
    width: 50rem;
    height: 34rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 6em;
    right: 0;
    z-index: 1;
  }
}

.block-index-workflow {
  background-color: @gray200;
  .wrap-workflow {
    width: 100%;
    background-color: @white;
    padding: 24px 16px 14px 16px;
    border-radius: 8px;
    position: relative;
    .text-center;
    .box-shadow;

    .icon {
      display: block;
      margin: 0 auto;
    }

    .step-number {
      color: @gray600;
      font-size: 3em;
      margin: 0;
      padding: 0;
      font-weight: 300;
      .sofia;
    }

    .step-title {
      margin: -9px 0 0 0;
      padding: 0;
      font-size: 1.2em;
      .sofia;
    }

    .description {
      color: @gray600;
      font-size: 0.9em;
    }

    .workflow-flowline,
    .workflow-flowcircle-left,
    .workflow-flowcircle-right {
      top: 50%;
      position: absolute;
    }

    .workflow-flowcircle-left,
    .workflow-flowcircle-right {
      width: 16px;
      height: 16px;
      margin-left: -8px;
      margin-top: -6px;
    }

    .workflow-flowline {
      display: inline-block;
      width: 2.8em;
      height: 4px;
      background-color: @orange800;
      left: 100%;
    }

    .workflow-flowcircle-right {
      display: inline-block;
      background-color: @white;
      border: 4px solid @orange800;
      border-radius: 13px;
      left: 100%;
    }

    .workflow-flowcircle-left {
      display: inline-block;
      background-color: @white;
      border: 4px solid @orange800;
      border-radius: 13px;
      left: 0;
    }
  }

  .active {
    color: @white !important;
    background-color: @orange800;

    .step-number,
    .step-title,
    .description {
      color: @white;
    }
  }
}

.block-index-partnership {
  .partnership-review {
    position: relative;
    padding: 30px;

    .paragraph {
      color: @gray700;
      font-size: 24px;
      font-weight: 300;
    }

    .name {
      color: @gray700;
      font-size: 17px;
      position: absolute;
      bottom: 30px;
    }

    .link-arrow {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 14px;
      bottom: 40px;
      background-image: url('../images/arrow-light-right.svg');
      .background-no-repeat;
    }
  }

  .partnership-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/photo-partnership-1.jpg');
  }

  .wrap-logo {
    width: 100%;
    height: 7em;
    margin: 1.8em 0 0.6em 0;
    background-size: 70%;
  }
}

.block-index-user-stories {
  background-color: @gray200;

  .wrap-user {
    width: 100%;
    height: 20em;
    margin-top: 16px;
    padding: 1.6em;
    background-color: @white;
    background-repeat: no-repeat;
    background-position: right -3px bottom;
    background-size: 50%;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
    .box-shadow;
    .transition;

    .role {
      margin: 0;
      padding: 0;
      font-size: 2.1em;
      font-weight: 200;
      text-align: left;
      .sofia;
    }

    .description {
      color: @gray500;
      width: 60%;
      font-size: 1em;
      .sofia;
      .transition;
    }

    .link-arrow {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 14px;
      bottom: 18px;
      background-image: url('../images/arrow-light-right.svg');
      opacity: 0.3;
      .transition;
      .background-no-repeat;
    }
  }

  .wrap-user:hover {
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0);
       -moz-filter: grayscale(0);

    .description {
      color: @gray700;
    }

    .link-arrow {
      opacity: 1;
    }
  }
}

.block-index-features {
  .il-index-features {
    width: 100%;
    height: 400px;
    margin-bottom: 1.5em;
    background-size: 960px;
  }
}

.il-index-locations {
  height: 30em;
  background-size: auto 100%;
}

.product-pricing {
  margin-top: 0;
  padding-top: 0;

  .pricing-tab {
    width: 100%;
    display: inline-block;
    padding: 24px 16px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    .box-shadow;
    .transition;

    .icon-md {
      display: block;
      width: 48px;
      height: 48px;
      margin: 0 auto;
      .background-no-repeat;
    }

    .pricing-title {
      font-size: 1.8em;
      font-weight: 600;
      margin: 4px 0 0 0;
      .sofia;
    }

    .pricing-description {
      color: @gray600;
      font-size: 1em;
      margin: 0;
    }
  }

  .pricing-tab:hover,
  .active {
    color: @white;
    background-color: @gray800;

    .pricing-description {
      color: @gray600;
    }

    .icon-md {
      display: block;
      width: 48px;
      height: 48px;
      margin: 0 auto;
      .background-no-repeat;
    }

    .ic-cloud-code { background-image: url('../images/ic-md-cloud-code-wh.svg'); }
    .ic-servers { background-image: url('../images/ic-md-servers-wh.svg'); }
    .ic-building-big { background-image: url('../images/ic-md-building-big-wh.svg'); }
  }
}

.pricing-plan {
  .pricing-terms {
    display: block;
    width: 400px;
    margin: 0 auto 24px auto;

    .plan-terms {
      display: inline-block;
      width: 200px;
      padding-top: 14px;
      padding-bottom: 12px;
      background-color: @gray400;
      .text-center;
      .sofia;
      .transition;
    }

    .monthly {
      float: left;
      border-radius: 24px 0 0 24px;
      padding-right: 30px;
      text-align: right;
    }

    .yearly {
      float: right;
      border-radius: 0 24px 24px 0;
      padding-left: 30px;
      text-align: left;
    }

    .monthly:hover,
    .yearly:hover,
    .active {
      color: @white;
      background-color: @orange800;
    }
  }

  .pricing-terms:after {
    display: block;
    content: '';
    clear: both;
  }

  .pricing-plan-box {
    display: inline-block;
    width: 20%;
    padding: 24px;
    margin-right: -4px;
    background-color: @white;
    .box-shadow;
    .text-center;

    .plan-name {
      margin: 0;
      padding: 0;
      font-size: 1rem;
    }

    .price {
      color: @orange800;
      font-size: 2.4rem;
      margin: 0 0 -8px 0;
      padding: 0;
      .sofia;
    }

    .description {
      font-size: 0.8rem;
    }

    ul.features {
      color: @gray800;
      display: block;
      width: 180px;
      margin: 24px auto 24px auto;
      padding: 0 0 0 16px;
      list-style: url('../images/ic-sm-check.svg');
      text-align: left;

      li {
        font-size: 0.9rem;
      }
    }
  }
}

.box-default {
  width: 100%;
  height: 340px;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.14);
     -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.14);
          box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.14);
}

.block-header-sub {
  height: 360px;
  margin-top: 60px;
  position: relative;

  .header-sub-title {
    margin-top: 80px;
    font-family: 'Sofia Pro', sans-serif;
    font-size: 3em;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.03em;
    line-height: 1.2;
  }

  .header-image {
    width: 580px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.block-section-sub {
  .section-title {
    font-size: 2.3em;
    margin-top: 0.8em;
  }

  .description {
    color: @gray600;
    margin: 0 auto 16px auto;
    font-size: 1rem;
    font-weight: normal;
  }
}

.block-section-sub:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.tab-role {
  .tab-title {
    color: @gray800;
    margin-bottom: 16px;
    font-size: 1.5em;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: bold;
  }

  .tab-wrap {
    .tab-item {
      margin-right: 16px;
      min-width: 240px;
      display: inline-block;
      padding: 24px 24px 20px 20px;
      background-color: @gray200;
      border-radius: 4px;
      position: relative;
      cursor: pointer;

      .tab-item-icon {
        width: 18px;
        height: 18px;
        margin-right: 4px;
        .background-no-repeat;
      }

      .tab-item-icon,
      span {
        display: inline-block;
        font-size: 1em;
        vertical-align: middle;
        .sofia;
      }
    }

    .active,
    .tab-item:hover {
      color: @white;
      background-color: @gray800;
      transition: all 0.5s;

      .ic-sm-user-executive {
        background-image: url('../images/ic-sm-user-executive-white.svg');
      }
    }
  }
}

.block-sub-menu {
  position: relative;
  top: inherit;
  transition: all 0.5s;
}

.block-sub-menu-fix {
  position: fixed;
  top: 90px;
}

.block-sub-menu-fix-bottom {
  position: absolute;
  bottom: 40px;
}

.sub-menu {
  color: @gray700;
  margin: 0 0 24px 0;
  padding: 0;
  font-size: 0.9em;
  list-style: none;

  li {
    margin-bottom: 5px;
    font-weight: 600;
  }
}

.block-user-story {
  .wrap-content {
    margin: 36px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid @gray400;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 1.8em;
      text-align: left;
      .sofia;
    }

    h4 {
      color: @orange800;
      text-align: left;
    }

    p {
      color: @gray600;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.6;
    }
  }

  .headcopy {
    color: @orange800;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    margin-top: 0;
    .sofia;
  }

  .tab-user-story {
    margin-bottom: 16px;

    .tab-item {
      display: inline-block;
      width: 250px;
      margin-right: 8px;
      padding: 16px 14px 14px 14px;
      background-color: @gray200;
      border-radius: 6px;
      transition: all 0.5s;

      .logo {
        width: 40px;
        height: 40px;
        margin-top: 4px;
        margin-right: 12px;
        float: left;
        .background-no-repeat;
      }

      .case-number {
        font-size: 0.8em;
        font-weight: bold;
      }

      .company-name {
        font-size: 1.2em;
      }
    }

    .active,
    .tab-item:hover {
      color: @white;
      background-color: @gray800;
    }
  }
}

.technical-documentation {
  h3.title {
    text-align: left;
  }

  .document-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      color: @gray700;
      font-size: 0.9em;
      line-height: 1.8;
    }
  }
}

.team-value {
  .wrap-value {
    width: 100%;
    margin-bottom: 36px;
    padding-bottom: 24px;
    .box-shadow;

    .photo {
      height: 80px;
      .background-no-repeat;
    }

    .title {
      color: @orange800;
      font-size: 1.3em;
      text-align: left;
      padding: 0 24px;
    }

    .description {
      padding: 0 24px;
    }
  }

  .wrap-value-left {
    margin-top: 36px;
  }
}

.team {
  .block-description {
    margin-bottom: 2em;
  }

  .member-big {
    width: 100%;
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid @gray300;

    .member-photo {
      display: inline-block;
      width: 12em;
      height: 12em;
      margin-right: 2em;
      border-radius: 7.5em;
      vertical-align: top;
      .background-no-repeat;
    }

    .member-detail {
      display: inline-block;
      width: 28.5em;

      .name {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 1.8em;
        text-align: left;
        .sofia;
      }

      .role {
        display: block;
        color: @gray700;
        margin: -8px 0 16px 0;
        padding: 0;
        font-size: 1.2em;
        .sofia;
      }
    }

    .member-sns {
      .icon-sns {
        color: @gray700;
        margin-right: 0.4em;
        font-size: 1.6em;
      }
    }
  }

  .member-big:last-of-type {
    margin-bottom: 0;
  }

  .member-small {
    width: 100%;
    margin-bottom: 1.2em;
    padding-bottom: 1.3em;
    border-bottom: 1px solid @gray300;

    .member-photo {
      display: block;
      width: 12em;
      height: 12em;
      margin: 0 auto 1.5em auto;
      border-radius: 7.5em;
      vertical-align: top;
      .background-no-repeat;
    }

    .member-detail {
      display: inline-block;
      width: 100%;

      .name {
        display: block;
        margin: 0 0 0.5em 0;
        padding: 0;
        font-size: 1.5em;
        .sofia;
      }

      .role {
        display: block;
        color: @gray700;
        margin: -8px 0 16px 0;
        padding: 0;
        font-size: 1em;
        text-align: center;
        .sofia;
      }
    }

    .member-sns {
      .text-center;

      .icon-sns {
        color: @gray600;
        margin-right: 0.4em;
        font-size: 1.3em;
      }
    }
  }
}

.company-about-status {
  .block-column {
    display: inline-block;
    width: 16em;
    margin-top: 48px;
    margin-right: 0.6em;
    padding-top: 0.4em;
    padding-right: 0.8em;
    border-right: 1px solid @gray300;

    .icon {
      width: 48px;
      height: 48px;
      margin-top: 0;
      margin-right: 0.2em;
      float: left;
    }

    .title {
      color: @gray800;
      font-size: 1.3em;
      font-weight: bold;
      .sofia;
    }

    .description {
      font-size: 0.8em;
    }
  }

  .block-column:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
  }

  .active,
  .tab-item:hover {
    color: @white;
    background-color: @gray800;
  }
}

.company-benefit {
  .block-column {
    display: inline-block;
    width: 100%;
    margin-top: 48px;
    border-bottom: 3px solid @gray300;

    .icon {
      width: 48px;
      height: 48px;
      margin-top: 0;
      margin-right: 4px;
      float: left;
    }

    .title {
      color: @gray800;
      font-size: 1.3em;
      font-weight: bold;
      .sofia;
    }

    .description {
      font-size: 0.8em;
    }
  }

  .active,
  .tab-item:hover {
    color: @white;
    background-color: @gray800;
  }
}

.job-opening {
  .job-opening-list {
    .job-table {
      .job-title {
        display: inline-block;
        color: @gray800;
        width: 20rem;
        margin-right: 20px;
        font-size: 1.4em;
        font-weight: bold;
        .sofia;
      }

      .location {
        display: inline-block;
        color: @gray700;
        width: 13rem;
        margin-right: 20px;
        font-size: 1em;
      }

      .show-more {
        display: inline-block;
        color: @orange800;
        margin-top: 8px;
        font-size: 0.9em;
        float: right;
      }

      .wrap-title {
        .job-title,
        .location {
          color: @gray600;
          font-size: 0.7em;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      .job-row {
        padding: 24px 0 18px;
        margin-bottom: 4px;
        border-bottom: 1px solid @gray400;
      }
    }
  }
}
