<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="ROBOTS" content="ALL">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="color,colors,palette,colorchart,pantone,webcolor,appcolor,colorcollection">
    <meta name="description" content="Webchips is a free color collection for using in applications for digital display.">

    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title itemprop="name">Webchips | The color collection for digital design</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/webchips_mungyukim.css">

    <!-- Bootstrap Core JavaScript -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130770440-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-130770440-1');
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>

  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.2';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="title-wrap">
      <h1 class="title"><img src="./images/logo-webchips.svg" width="30" height="30" /> WebChips</h1>
      <p class="description">
        <strong>Webchips</strong> is a free color collection for using in applications for digital display.<br />
        All colors are gathered by Mungyu Kim.<br />
        You can freely use this color-chips and if you satisfied please share this collection.<br />
        <span style="color: #b3b3b3;">
          This service is in progress. :-)<br />
          If you have questions, don't hesitate to <a href="mailto:kimmungyu@gmail.com">contact to me</a>.
        </span>
      </p>
      <ul class="share">
        <li><a href="https://dribbble.com/mungyukim"><img src="./images/icon-dribbble.svg" width="24" height="24"></a></li>
        <li><a href="https://www.linkedin.com/in/mungyu-kim-077055146/"><img src="./images/icon-linkedin.svg" width="24" height="24"></a></li>
      </ul>
      <div style="height: 30px;">
        <div class="fb-like" data-href="https://kimmungyu.github.io" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
    <div class="chips">
      <div class="color-tone" id="toneGray">
        <h3>Gray tone</h3>
        <div class="color-block" v-for="item in items" v-if="colorTone='Red'">
          <div class="color-chip">
            <div class="color-box-main" :class="[ item.colorCode ]">
              <h4 class="color-name">{{ item.colorName }}</h4>
              <span class="color-hex">{{ item.colorHex }}</span>
            </div>
            <div class="color-box-sub step-100" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-070" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-050" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-030" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-000" :class="[ item.colorCode ]"></div>
          </div>
        </div>
      </div>
      <div class="color-tone" id="toneBlue">
        <h3>Blue tone</h3>
        <div class="color-block" v-for="item in items" v-if="colorTone='Red'">
          <div class="color-chip">
            <div class="color-box-main" :class="[ item.colorCode ]">
              <h4 class="color-name">{{ item.colorName }}</h4>
              <span class="color-hex">{{ item.colorHex }}</span>
            </div>
            <div class="color-box-sub step-100" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-070" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-050" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-030" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-000" :class="[ item.colorCode ]"></div>
          </div>
        </div>
      </div>
      <div class="color-tone" id="toneRed">
        <h3>Red tone</h3>
        <div class="color-block" v-for="item in items" v-if="colorTone='Red'">
          <div class="color-chip">
            <div class="color-box-main" :class="[ item.colorCode ]">
              <h4 class="color-name">{{ item.colorName }}</h4>
              <span class="color-hex">{{ item.colorHex }}</span>
            </div>
            <div class="color-box-sub step-100" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-070" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-050" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-030" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-000" :class="[ item.colorCode ]"></div>
          </div>
        </div>
      </div>
      <div class="color-tone" id="tonePurple">
        <h3>Purple tone</h3>
        <div class="color-block" v-for="item in items" v-if="colorTone='Red'">
          <div class="color-chip">
            <div class="color-box-main" :class="[ item.colorCode ]">
              <h4 class="color-name">{{ item.colorName }}</h4>
              <span class="color-hex">{{ item.colorHex }}</span>
            </div>
            <div class="color-box-sub step-100" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-070" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-050" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-030" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-000" :class="[ item.colorCode ]"></div>
          </div>
        </div>
      </div>
      <div class="color-tone" id="toneGreen">
        <h3>Green tone</h3>
        <div class="color-block" v-for="item in items" v-if="colorTone='Red'">
          <div class="color-chip">
            <div class="color-box-main" :class="[ item.colorCode ]">
              <h4 class="color-name">{{ item.colorName }}</h4>
              <span class="color-hex">{{ item.colorHex }}</span>
            </div>
            <div class="color-box-sub step-100" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-070" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-050" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-030" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-000" :class="[ item.colorCode ]"></div>
          </div>
        </div>
      </div>
      <div class="color-tone" id="toneBrown">
        <h3>Brown tone</h3>
        <div class="color-block" v-for="item in items" v-if="colorTone='Red'">
          <div class="color-chip">
            <div class="color-box-main" :class="[ item.colorCode ]">
              <h4 class="color-name">{{ item.colorName }}</h4>
              <span class="color-hex">{{ item.colorHex }}</span>
            </div>
            <div class="color-box-sub step-100" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-070" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-050" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-030" :class="[ item.colorCode ]"></div>
            <div class="color-box-sub step-000" :class="[ item.colorCode ]"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      (C) 2018 kimmungyu.github.io<br />
      <span class="thanksto">Thanks to LESS / Vue.js / Github Page</span> <span style="color:#ff69b4">♥</span>
    </div>

  </body>
  <script src="wantone.js"></script>
</html>
