@import url("https://use.typekit.net/cwa2ewg.css");
body {
  font-size: 14px;
}
b {
  font-weight: 700;
}
.font-proxima {
  color: #334968;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-proxima .fs-light {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 200;
}
.font-proxima .btn {
  font-family: 'proxima-nova', sans-serif;
}
.font-montserrat {
  color: #334968;
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-montserrat .fs-light {
  font-family: 'montserrat', sans-serif;
  font-weight: 200;
}
.font-montserrat .btn {
  font-family: 'montserrat', sans-serif;
}
.font-gill-sans {
  color: #334968;
  font-family: 'Gill-Sans-Nova', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-gill-sans .fs-light {
  font-family: 'Gill-Sans-Nova', sans-serif;
  font-weight: 200;
}
.font-gill-sans .btn {
  font-family: 'Gill-Sans-Nova', sans-serif;
}
.font-acumin {
  color: #334968;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-acumin .fs-light {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 200;
}
.font-acumin .btn {
  font-family: 'acumin-pro', sans-serif;
}
.container {
  position: relative;
  width: 960px;
  margin: auto;
}
h2,
h3,
h4,
h5 {
  font-weight: 600;
}
h1 {
  color: #0f1c3a;
  font-size: 48px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
}
h2 {
  color: #0f1c3a;
  font-size: 30px;
  margin: 18px 0 8px 0;
}
h3 {
  font-size: 24px;
  margin: 4px 0 4px 0;
}
h4 {
  color: #506682;
  font-size: 20px;
  margin: 1.2em 0 0.6em 0;
}
h5 {
  color: #506682;
  font-size: 17px;
  margin: 0.6em 0 0.6em 0;
}
.btn-back {
  position: absolute;
  top: 24px;
  right: 0;
  text-decoration: none;
}
.header-available-service,
.header-available-media {
  margin-top: 8px;
  margin-bottom: 48px;
}
.section-left {
  width: 48%;
  float: left;
}
.section-right {
  width: 48%;
  float: right;
}
.section {
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #efefef;
}
.section-last {
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 0;
}
.section:after {
  content: "";
  display: block;
  clear: both;
}
.block {
  margin-bottom: 36px;
}
.fs {
  font-size: 20px;
}
.fs .summary {
  font-size: 14px;
  padding: 18px;
  text-align: center;
  border: 1px solid #efefef;
}
.fs .description {
  display: inline-block;
  color: #a3b3c1;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 24px;
  padding-bottom: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #e3e8ec;
}
.fs .description-last {
  margin-bottom: 0 !important;
}
.fs p {
  margin-bottom: 4px;
}
.fs-light {
  font-weight: 200;
}
.fs-bold {
  font-weight: 600;
}
.fs-italic {
  font-style: italic;
}
.fs-bold-italic {
  font-weight: 600;
  font-style: italic;
}
.pm-paragraph {
  border: 1px solid #efefef;
  padding: 24px 30px;
}
.pm-size-variation {
  border: 1px solid #efefef;
  padding: 24px 30px;
}
.pm-size-variation .description {
  display: block;
  color: #a3b3c1;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.pm-font-size {
  display: block;
}
.pm-font-size-48 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: -4px;
}
.pm-font-size-32 {
  font-size: 32px;
}
.pm-font-size-24 {
  font-size: 24px;
}
.pm-font-size-14 {
  font-size: 10px;
  font-weight: bold;
}
.btn-full-width {
  color: #fff !important;
  width: 100%;
  margin-bottom: 8px !important;
  padding: 24px 0 !important;
  font-size: 24px !important;
  text-decoration: none;
  background-color: #004bb7;
  border-radius: 6px !important;
}
.btn-full-width:hover {
  background-color: #004393;
}
.screenshot-brand {
  border: 1px solid #d7dfe3;
}
.ui-screens .screenshot {
  margin-bottom: 24px;
  border: 1px solid #d7dfe3;
}
.ui-screens .link-screenshot:nth-child(odd) {
  float: left;
}
.ui-screens .link-screenshot:nth-child(even) {
  float: right;
}
.link-screenshot {
  display: inline-block;
  width: 48%;
}
.ui-screens:after {
  content: '';
  display: block;
  clear: both;
}
.ui-headings,
.ui-paragraph {
  border: 1px solid #efefef;
  padding: 24px;
}
.ui-headings h1,
.ui-paragraph h1,
.ui-headings h2,
.ui-paragraph h2,
.ui-headings h3,
.ui-paragraph h3,
.ui-headings h4,
.ui-paragraph h4,
.ui-headings h5,
.ui-paragraph h5 {
  margin: 8px 0;
}
.ui-headings h1,
.ui-paragraph h1 {
  margin-top: 0;
}
.h6 {
  margin-bottom: 8px;
}
.ui-buttons-block {
  margin-bottom: 8px;
}
.footer {
  padding: 48px 0;
  border-top: 1px solid #e3e8ec;
}
/* -- UI btn --*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  letter-spacing: -0.03em;
  margin-right: 4px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 4px;
}
.btn-default {
  color: #657992;
  background-color: #fff;
  border-color: #dbdbdb;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
}
.btn-primary {
  color: #fff;
  background-color: #004bb7;
  border-color: #004393;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #004393;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #004393;
}
.btn-success {
  color: #fff;
  background-color: #0ac940;
  border-color: #08b234;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #08b234;
}
.btn-success:active,
.btn-success.active {
  background-color: #08b234;
}
.btn-info {
  color: #fff;
  background-color: #00c1bc;
  border-color: #04aaa1;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #04aaa1;
}
.btn-info:active,
.btn-info.active {
  background-color: #04aaa1;
}
.btn-warning {
  color: #fff;
  background-color: #f46c21;
  border-color: #e85b15;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #e85b15;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #e85b15;
}
.btn-danger {
  color: #fff;
  background-color: #f52711;
  border-color: #e21d0e;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #e21d0e;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #e0e0e0;
}
/* -- UI Alert --*/
.ui-alert {
  display: block;
  margin-bottom: 8px;
  padding: 14px;
  border: 1px solid #e3e8ec;
}
.ui-alert-success {
  border-left-color: #0ac940;
  border-left-width: 5px;
}
.ui-alert-default {
  border-left-color: #506682;
  border-left-width: 5px;
}
.ui-alert-warning {
  border-left-color: #f46c21;
  border-left-width: 5px;
}
.ui-alert-danger {
  border-left-color: #f52711;
  border-left-width: 5px;
}
