@import url("https://use.typekit.net/boc6hvk.css");
@import url("https://use.typekit.net/mwl7bmw.css");
@import url("https://use.typekit.net/gua6lws.css");
@import url("https://use.typekit.net/rop6ibq.css");
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: sans-serif;
  color: #334968;
}
.container {
  width: 960px;
  margin: 0 auto;
}
h1.title {
  color: #0f1c3a;
  font-size: 35px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 4px;
}
h4 {
  margin-top: -13px;
}
.header-available-service {
  margin-top: 0;
  margin-bottom: 49px;
}
.list-requirements {
  line-height: 150%;
}
.block-candidate {
  display: inline-block;
  width: 460px;
  margin-right: 30px;
  margin-bottom: 40px;
  vertical-align: top;
}
.block-candidate:nth-child(even) {
  margin-right: 0;
}
.section-candidates {
  vertical-align: top;
}
.btn-candidate {
  width: 100%;
  height: 140px;
  padding: 35px 24px 24px 24px;
  text-align: center;
  border: 1px solid #e3e8ec;
  border-radius: 5px;
  transition-timing-function: ease;
  transition: 0.5s;
  cursor: pointer;
}
.btn-candidate .title {
  display: block;
  color: #334968;
  height: 48px;
  font-size: 40px;
  margin-bottom: 8px;
  line-height: 120%;
}
.btn-candidate .description {
  display: block;
  color: #a3b3c1;
}
.btn-candidate:hover {
  color: #fff;
  background-color: #213351;
  border: 1px solid #213351;
}
.btn-candidate:hover .title {
  color: #fff;
}
.link-to-typekit {
  display: block;
  color: #506682;
  margin: 13px auto 0 auto;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.upgrade {
  font-family: 'upgrade', sans-serif;
  font-weight: 300;
}
.interstate {
  font-family: 'interstate', sans-serif;
  font-weight: 500;
}
.benton-sans {
  font-family: 'benton-sans', sans-serif;
  font-weight: 500;
}
.sofia-pro {
  font-family: 'Sofia-pro', sans-serif;
}
.section {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e3e8ec;
}
.btn-full-width {
  display: block;
  color: #fff !important;
  width: 100%;
  margin-bottom: 8px !important;
  padding: 24px 0 !important;
  font-size: 20px !important;
  font-family: 'Sofia-pro', sans-serif;
  text-align: center;
  text-decoration: none;
  background-color: #004bb7;
  border-radius: 6px !important;
}
.btn-full-width:hover {
  background-color: #004393;
}
